@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto_bold ;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto_italic;
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: roboto_black;
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto_medium ;
    src: url(../fonts/Roboto-Medium.ttf);
}