.blueButton:hover{
    color:$blue;
    background-color:white;
}

.headerButton:hover{
    color:white;
    background-color: black;
    box-shadow: 5px 5px $orange;
}

.blogButton:hover{
    color:$orange;
}

.galleryLinks:hover{
    color:$orange;
}

.navButton:hover{
    color:$orange;
}